@import url(https://db.onlinewebfonts.com/c/75f9043acaec461cf44dcbc86139fb96?family=Agency+FB+W00+Bold);
@font-face {
  font-family: "Agency FB W00 Bold";
  src: url("https://db.onlinewebfonts.com/t/75f9043acaec461cf44dcbc86139fb96.eot");
  src: url("https://db.onlinewebfonts.com/t/75f9043acaec461cf44dcbc86139fb96.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/75f9043acaec461cf44dcbc86139fb96.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/75f9043acaec461cf44dcbc86139fb96.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/75f9043acaec461cf44dcbc86139fb96.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/75f9043acaec461cf44dcbc86139fb96.svg#Agency FB W00 Bold")format("svg");
}

body {
  font-family: "Open Sans";
  color:black;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-primary {
  font-family: "Raleway";
}
.bold-hr {
  border: 0;
  height: 5px;
  background-color: #ffc400;
}
.hero-section {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust based on the desired height */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  color: white;
}

.carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.slide {
  position: relative;
  width: 0; /* Initially hidden width */
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease, width 0.5s ease; /* Default transition duration */
}

.carousel-slide {
  display: flex;
  width: 100%; /* Adjust based on the number of images */
  height: 100%;
  transition: transform 1s ease; /* Adjust the transition duration for transform */
}


.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire area */
}

.text-content, .text-content2 {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0; /* Initially hidden */
  transition: opacity 0.5s ease; /* Transition for opacity */
  width: 60%;
}


@media (max-width: 600px) {
  .text-content, .text-content2 {
    padding: 10px;
    width: 90%;
  }
  
  .text-content h1, .text-content2 h1 {
    font-size: 20px;
  }
  
  .text-content p, .text-content2 p {
    font-size: 14px;
  }
}

.logo-container {
    position: absolute;
    top: 6%;
    left: 20px;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo2 {
    width: 500px;
    height: auto;
}

.logo-caption {
    font-size: 57px;
    color: white;
    font-weight: bolder;
    font-family: 'Agency FB W00 Bold'; 
    margin-top: 140px; /* Adjust this value as needed */
    position: absolute;
}

@media (max-width: 1200px) {
  .logo2, .footer-logo {
      max-width: 400px;
  }

}

@media (max-width: 992px) {
  .logo2, .footer-logo {
      max-width: 300px;
  }

}

@media (max-width: 768px) {
  .logo2, .footer-logo {
      max-width: 250px;
  }

}

@media (max-width: 576px) {
  .logo2, .footer-logo {
      max-width: 200px;
  }

}

.container1 {
    z-index: 3;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-right: 22%;
    margin-top: 20%;
    max-width: 1200px;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 60%;  
    position: absolute;
}

.carousel-controls {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}

#carousel-toggle {
  background-color: rgba(255, 255, 255, 0.8);
  color: #222A59;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#carousel-toggle:hover {
  background-color: rgba(255, 255, 255, 1);
  transform: scale(1.1); /* Optional: Add a slight scaling effect on hover */
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 80px 0;
}

.section-bg {
  background-color: #fff7f2;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 20px;
  padding-bottom: 15px;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 1px;
  background:#F7D051;
  bottom: 0;
  left: calc(50% - 40px);
}

.section-title p {
  margin-bottom: 0;
  font-style: italic;
  color: #666666;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about h3 {
  font-weight: 300;
  font-size: 26px;
}

.about p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# History, Mission and Values
--------------------------------------------------------------*/
.why-us {
  padding-bottom: 30px;
}

.why-us .card {
  border-radius: 3px;
  border: 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.why-us .card-icon {
  text-align: center;
  margin-top: -32px;
}

.why-us .card-icon i {
  font-size: 32px;
  color: #fff;
  width: 64px;
  height: 64px;
  padding-top: 10px;
  text-align: center;
  background-color:#F7D051;
  border-radius: 50%;
  text-align: center;
  border: 4px solid #fff;
  transition: 0.3s;
  display: inline-block;
}

.why-us .card-body {
  padding-top: 12px;
}

.why-us .card-title {
  font-weight: 700;
  text-align: center;
}

.why-us .card-title a {
  color:#222A59;
}

.why-us .card-title a:hover {
  color: #222A59;
}

.why-us .card-text {
  color: #5e5e5e;
}

.why-us .card:hover .card-icon i {
  background: #222A59;
  color: #F7D051;
}

.moving-card .card-body {
  animation: moveUpDown 3s ease-in-out infinite;
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@media (max-width: 1024px) {
  .why-us {
    background-attachment: scroll;
  }
}

@media (max-width: 768px) {
  .moving-card .card-body {
    animation: moveUpDown 5s ease-in-out infinite;
  }
}

/* Gallery */
.owl-carousel .item {
  position: relative;
  margin: 1px; /*spacing between items */
}
.owl-carousel .item img {
  width: 95%;
  border-radius: 20px;
  display: inline-block;
}

/* Adjustments for tablets and smaller screens */
@media screen and (max-width: 768px) {
  .owl-carousel .item {
    margin: 5px; /* Adjust margin for smaller screens */
  }
  .owl-carousel .item img {
    width: 70%; /* Adjust width for smaller screens */
  }
}

/* Adjustments for phones */
@media screen and (max-width: 576px) {
  .owl-carousel .item {
    margin: 5px; /* Adjust margin for phones */
  }
  .owl-carousel .item img {
    width: 90%; /* Almost full width on smallest screens */
  }
}

/* Further adjustments for very small screens or landscape mode */
@media screen and (max-width: 400px) {
  .owl-carousel .item {
    margin: 5px; /* Adjust margin for very small screens */
  }
  .owl-carousel .item img {
    width: 100%; /* Full width on smallest screens */
  }
}


/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.contact .info {
  color: #444444;
}

.contact .info i {
  font-size: 32px;
  color: #F9D437;
  float: left;
}

.contact .info p {
  padding: 0 0 10px 50px;
  margin-bottom: 20px;
  line-height: 22px;
  font-size: 14px;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .social-links a {
  font-size: 18px;
  display: inline-block;
  background:#222A59;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.contact .social-links a:hover {
  background:#F9D437;
  color: #fff;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #222A59;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #222A59;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: #F7D051;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #F9D437;
}

.contact .php-email-form button[type=submit] {
  background:#222A59;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

.contact .php-email-form button[type=submit]:hover {
  background: #F9D437;
}

@media (max-width: 768px) {
  .contact .social-links {
    text-align: center;
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background-color: white;
  color: black;
}


.logo-and-paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.footer-logo {
  max-width: 180px;
}

.footer-paragraph {
  margin-top: -5px; /* Add some margin to separate the text from the logo */
  font-family: 'Agency FB W00 Bold'; 
  font-size: 17px;
  font-weight: bolder;
}

.footer-text {
  text-align: left;
  font-size: 18px;
  line-height: 1.5;
}

.footer-text p {
  margin: 5px 0;
  font-size: 18px;
  line-height: 1.5;
  
}

.footer-text a {
  color: #F9D437;
  text-decoration: none;
}

.footer-text a:hover {
  text-decoration: underline;
}

/*Scroll up btn*/
.scroll-up-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color:#F9D437;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  z-index: 8;
}

/*Responsiveness of logo caption & foter paragraph*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .logo-caption {
    font-size: 20px;
    margin-top: 60px;
  }

  .footer-paragraph {
    font-size: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .logo-caption {
    font-size: 25px;
    margin-top: 70px;
  }

  .footer-paragraph {
    font-size: 17px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .logo-caption {
    font-size: 33px;
    margin-top: 85px;
  }

  .footer-paragraph {
    font-size: 17px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .logo-caption {
    font-size: 45px;
    margin-top: 110px;
  }

  .footer-paragraph {
    font-size: 17px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .logo-caption {
    font-size:57px;
    margin-top: 138px;
  }

  .footer-paragraph {
    font-size: 17px;
  }
}
